<div class="currentPage">
  <%= link_to "", writers_path, class: "glyphicon glyphicon-home" %>&nbsp; > &nbsp;Writers &nbsp;> Index
</div>
<br><br>
<% if flash[:notice] %>
<div id="notice" class="alert alert-success"><%= flash[:notice] %></div>
<br><br>
<% end %>
<table class="table table-hover">
  <tr>
    <th></th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Joined</th>
    <th></th>
  </tr>
  <tbody>

    <% @writers.each do |writer| %>

    <tr>
      <td><%= image_tag('x.jpeg', size: '50*50', alt: 'Alex') %></td>
       <!-- image_tag writer.photo.url(:small)  -->
      <td><strong><%= writer.first_name %></strong></td>
      <td><%= writer.last_name %></td>
      <td><%= writer.age %></td>
      <td><%= l writer.created_at, format: :long %></td>
      <td><%= link_to "See more about #{writer.first_name} #{writer.last_name}", writer_path(writer) %></td>
    </tr>

    <% end %>

  </tbody>


    <% if @writers.length == 0 %>

    <tr>
      <td colspan="6" align="center">
        <br>
        <strong class="text-danger">There is no writer.</strong>
      </td>
    </tr>

  <% end %>



    <tr>
      <td colspan="6" align="right">
        <br>
        <%= link_to "Add new writer", new_writer_path, class: "btn btn-default"  %>
      
      </td>
    </tr>
</table>