<div class="currentPage">
  <%= link_to "", writers_path, class: "glyphicon glyphicon-home" %>&nbsp; > &nbsp;Posts &nbsp;> New
</div>
<br><br>

<% if @post.errors.any? %>
<div class="alert alert-danger" role="alert">
  <% @post.errors.full_messages.each do |error| %>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%= error %>
    <br>
  <% end %>
</div>    
<% end %>

<%= form_for  [@writer, @post] do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title%>
</div>
<div class="form-group">  
  <%= f.label :category%>
  <%= f.text_field :category %>
</div>
<div class="form-group">  
  <%= f.label "Write here" %><br>
  <%= f.text_area :body, cols: 50, rows: 10 %>
</div>
<div class="form-group">
  <%= link_to "Cancel", writer_posts_path(@writer) %> &nbsp;&nbsp;<%= f.submit "Submit"%>
<% end %>
</div>