<div class="currentPage text-right">
  <%= link_to "", writers_path, class: "glyphicon glyphicon-home" %>&nbsp; > &nbsp;Posts &nbsp;> Show
</div>
<div>
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; > <%= link_to "#{@post.writer["first_name"]} #{@post.writer["last_name"]}", writer_path(@post) %>&nbsp; > &nbsp;<%= @post.category %>
</div>
<br>
<% if flash[:notice] %>
<div id="notice" class="alert alert-success"><%= flash[:notice] %></div>
<br>
<% end %>
<div><%= @post.title %></div><div display="inline" class="text-right"><%= l @post.updated_at, format: :long %> <span class="badge">viewed?</span>
</div>
<br><br>
 <div class="well"><%= @post.body %></div>
<br><br>
<div class="mainlinks">
   <%= link_to "See all #{@post.writer["first_name"]} #{@post.writer["last_name"]}'s postings", writer_posts_path(@post.writer_id), class: "btn btn-primary left" %>&nbsp;
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-warning" %>&nbsp;
  <%= link_to "Delete this post", post_path(@post), class: "btn btn-danger", method: "DELETE", data: {confirm:"Are you sure to delete this post?"} %>
</div>